<h1>Messages <%= link_to('New message', new_message_path, class:"btn btn-primary") %></h1>

<h2> Received messages </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Sender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @received_messages.each do |rm| %>
      <tr>
        <td><%= link_to rm.topic, rm %></td>
        <td><%= link_to rm.sender.username, rm.sender%></td>
        <td><%= link_to('Destroy', rm, method: :delete, data: {confirm: 'Are you sure?' }, class:"btn btn-danger") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> Sent messages </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Receiver</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sent_messages.each do |sm| %>
      <tr>
        <td><%= link_to sm.topic, sm %></td>
        <td><%= link_to sm.receiver.username, sm.receiver%></td>
        <td><%= link_to('Destroy', sm, method: :delete, data: {confirm: 'Are you sure?' }, class:"btn btn-danger") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
