<p id="notice"><%= notice %></p>

<h2> <%= @type.name %> </h2>

<p> <%= @type.info %> </p>

<h3> <%= "List of #{@type.name.pluralize}" %> </h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @type.instruments.each do |inst| %>
      <tr>
        <td><%= link_to inst.name, inst %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= edit_and_destroy_buttons(@type) %>
