<h2> <%= @instrument_setup.name %> </h2>

<p>
  <%= @instrument_setup.info %>
</p>

<p>
  <strong>Created by: </strong>
  <%= link_to @instrument_setup.user.username, user_path(@instrument_setup.user) %>
</p>

<h3> Instruments in this setup </h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @instrument_setup.setup_instruments.each do |inst| %>
      <tr>
        <td><%= link_to inst.instrument.name, inst.instrument %></td>
        <td> <% if current_user == @instrument_setup.user %>
          <%= link_to('Delete', setup_instrument_path(inst),method: :delete, class:"btn btn-danger") %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <h4>Tags</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <% @instrument_setup.tags.each do |t| %>
        #<%= t.name %>,
      <% end %>
    </div>
  </div>

<% if current_user == @instrument_setup.user %>
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Edit your setup</h4></div>
    <div class="panel-body">
        <h4> Add Instrument </h4>
          <%= form_for(@setup_instrument) do |f| %>
          <%= f.hidden_field :instrument_setup_id %>
          Instrument: <%= f.select :instrument_id, options_from_collection_for_select(@instruments - @instrument_setup.instruments | @instrument_setup.instruments - @instruments, :id, :to_s, select:@setup_instrument.instrument_id) %>
          <%= f.submit %>
        <% end %>
      <h4> Add Tag </h4>
        <%= form_for(@tag) do |f| %>
          <%= f.hidden_field :instrument_setup_id %>
          <%= f.text_field :name %>
          <%= f.submit %>
        <% end %>

      <br><%= link_to('Delete this setup', @instrument_setup, method: :delete, class:"btn btn-danger") %>
    </div>
  </div>
<% end %>


<%= edit_and_destroy_buttons(@instrument_setup) %>
