<h2> <%= @user.username %> </h2>

<br>

<p>
  <strong>Current studio setup</strong>
  <ul>
    <% @user.instruments.each do |inst| %>
      <li> <%= link_to inst.name, inst %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong> <%= "Setups made by #{@user.username}" %> </strong>
  <ul>
    <% @user.instrument_setups.each do |setup| %>
      <li> <%= link_to setup.name, setup %> </li>
    <% end %>
  </ul>
</p>

<p>
  <% if current_user and current_user == @user %>
    <%= link_to 'Add instrument to studio', new_user_instrument_path%>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@user) %>
