<p id="notice"><%= notice %></p>

<h1>Listing Setup Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Instrument setup</th>
      <th>Instrument</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setup_instruments.each do |setup_instrument| %>
      <tr>
        <td><%= setup_instrument.instrument_setup_id %></td>
        <td><%= setup_instrument.instrument_id %></td>
        <td><%= link_to 'Show', setup_instrument %></td>
        <td><%= link_to 'Edit', edit_setup_instrument_path(setup_instrument) %></td>
        <td><%= link_to 'Destroy', setup_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setup instrument', new_setup_instrument_path %>
