<br>
<div class="panel panel-default">
  <div class="panel-body">
    <% if SetupInstrument.first != nil %>
      Most famous instrument at the moment is <%= link_to Instrument.most_famous, Instrument.most_famous %> !
    <% end %>
  </div>
</div>

<h2> List of Instruments </h2>

<%= form_tag(instruments_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag(:search_instrument, params[:search_instrument], placeholder: "Search Instruments") %>
  <%= submit_tag "Find" %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @instruments.each do |inst| %>
      <tr>
        <td><%= link_to inst.name, inst %></td>
        <td><%= link_to inst.manufacturer.name, inst.manufacturer%></td>
        <td><%= link_to inst.type.name, inst.type%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user and current_user.admin? == true %>
  <%= link_to('New Instrument', new_instrument_path, class:"btn btn-primary") %>
<% end %>
