<h2> <%= @instrument.name %> </h2>

<p> Introduced in <%= @instrument.year %> </p>

<p> <%= @instrument.info %> </p>

<p>
  <strong>Manufacturer:</strong>
  <%= link_to @instrument.manufacturer.name, @instrument.manufacturer %>
</p>

<p>
  <strong>Type:</strong>
  <%= link_to @instrument.type.name, @instrument.type %>
</p>

<%= edit_and_destroy_buttons(@instrument) %>
