<h2> <%= @instrument.name %> </h2>

<%= image_tag(@instrument.image_link, :class => "main_image", size: "400x400") %>

<p> <i> Introduced in <%= @instrument.year %> </i> </p>

<p><%= @instrument.info %> </p>

<p>
  <strong>Manufacturer:</strong>
  <%= link_to @instrument.manufacturer.name, @instrument.manufacturer %>
</p>

<p>
  <strong>Type:</strong>
  <%= link_to @instrument.type.name, @instrument.type %>
</p>

<% if current_user %>
  <h2> Reviews </h2>
  <% if @instrument.reviews.first != nil %>
    <p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Topic</th>
            <th>Writer</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @instrument.reviews.each do |r| %>
            <tr>
              <td><%= link_to r.topic, r %></td>
              <td><%= link_to r.user.username, r.user %> </td>
              <td>
                <% for i in 1..r.score %>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <% end %>

                <% for i in 1..(10 - r.score) %>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
  <% else %>
    <p> This instrument doesn't have reviews </p>
  <% end %>
<% end %>

<% if current_user %>
  <%= link_to('Write a review', new_review_path, class:"btn btn-primary") %>
<% end %>

<%= edit_and_destroy_buttons(@instrument) %>

<% if current_user %>
  <p>
    <br> <%= link_to('View Ebay deals', deals_path, class:"btn btn-warning") %>
  </p>
<% end %>
