<h2> List of Manufacturers </h2>

<%= form_tag(manufacturers_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag(:search_manufacturer, params[:search_manufacturer], placeholder: "Search Manufacturers") %>
  <%= submit_tag "Find" %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded in</th>
    </tr>
  </thead>
  <tbody>
    <% @manufacturers.each do |man| %>
      <tr>
        <td><%= link_to man.name, man %></td>
        <td><%= man.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user and current_user.admin? == true %>
  <%= link_to('New Manufacturer', new_manufacturer_path, class:"btn btn-primary") %>
<% end %>
