<% if current_user %>
  <% if current_user.admin? == true %>
    <li> <%= link_to suggestions_path do %>
          <i class="glyphicon glyphicon-list-alt"></i> Suggestions
        <% end %>
    </li>
  <% end %>

  <li> <%= link_to current_user do %>
        <i class="glyphicon glyphicon-user"></i> My User
      <% end %>
  </li>

  <li> <%= link_to signout_path, method: :delete do %>
        <i class="glyphicon glyphicon-log-out"></i> Sign Out
       <% end %>
  </li>

<% else %>

  <li> <%= link_to signin_path do %>
        <i class="glyphicon glyphicon-log-in"></i> Sign In
       <% end %>
  </li>

  <li> <%= link_to signup_path do %>
        <i class="glyphicon glyphicon-registration-mark"></i> Sign Up
       <% end %>
  </li>
<% end %>
